# git-cliff ~ configuration file
# https://git-cliff.org/docs/configuration

[remote.github]
owner = "getarcaneapp"
repo = "arcane"

[git]
conventional_commits = true
filter_unconventional = true
tag_pattern = "v[0-9]*"
commit_preprocessors = [{ pattern = '\((\w+\s)?#([0-9]+)\)', replace = "" }]
commit_parsers = [
  { message = "^feat\\(cli\\)", group = "<!-- 01 --> CLI - New features" },
  { message = "^feat\\(types\\)", group = "<!-- 02 --> Types - New features" },
  { message = "^feat", group = "<!-- 00 --> Backend - New features" },

  { message = "^fix\\(cli\\)", group = "<!-- 11 --> CLI - Bug fixes" },
  { message = "^fix\\(types\\)", group = "<!-- 12 --> Types - Bug fixes" },
  { message = "^fix", group = "<!-- 10 --> Backend - Bug fixes" },

  { message = "^perf\\(cli\\)", group = "<!-- 21 --> CLI - Performance improvements" },
  { message = "^perf\\(types\\)", group = "<!-- 22 --> Types - Performance improvements" },
  { message = "^perf", group = "<!-- 20 --> Backend - Performance improvements" },

  { message = "^docs\\(cli\\)", group = "<!-- 31 --> CLI - Documentation", default_scope = "other" },
  { message = "^docs\\(types\\)", group = "<!-- 32 --> Types - Documentation", default_scope = "other" },
  { message = "^docs", group = "<!-- 30 --> Backend - Documentation", default_scope = "other" },

  { message = "^chore\\(deps\\)", group = "<!-- 40 --> Dependencies" },
        { message = "^chore", skip = true },
        { message = "^release", skip = true },
        { message = "update translations via Crowdin", skip = true },
  { message = ".*", group = "<!-- 50 --> Other", default_scope = "other"},
]
filter_commits = false

[changelog]
trim = true
body = """
## {{ version | default(value="Unknown Version") }}
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | striptags | trim | upper_first }}
{% for commit in commits %}
  * {{ commit.message }} \
    {%- if commit.remote.pr_number -%}
      ([#{{ commit.remote.pr_number }}]({{ self::remote_url() }}/pull/{{ commit.remote.pr_number }}) by @{{ commit.remote.username | default(value=commit.author.name) }})
    {%- else -%}
      ([{{ commit.id | truncate(length=7, end="") }}]({{ self::remote_url() }}/commit/{{ commit.id }}) by @{{ commit.remote.username | default(value=commit.author.name) }})
    {%- endif -%}
{% endfor %}
{% endfor %}
{% if version %}
    {% if previous.version %}
      **Full Changelog**: {{ self::remote_url() }}/compare/{{ previous.version }}...{{ version }}
    {% endif %}
{% else -%}
  {% raw %}\n{% endraw %}
{% endif %}

{%- macro remote_url() -%}
  https://github.com/{{ remote.github.owner }}/{{ remote.github.repo }}
{%- endmacro -%}
"""